.wrapper {
  box-sizing: border-box;
  margin: 0 auto;
  max-width: 1600px;
  padding: 0 1rem;
  width: 100%; }

.topnav {
  border: 1px solid lightgrey;
  clear: both;
  margin: 1rem auto;
  /*padding: 10px 0;*/
  text-align: center;
  width: 100%; }
  .topnav a:first-child {
    color: #DE2E48;
    font-family: georgia;
    font-size: 1.1rem;
    /*font-weight: bold;*/
    margin-left: 6rem;
    text-decoration: none; }
  .topnav p {
    display: inline-block; }

.cmalogo {
  float: left;
  margin-left: 2rem;
  margin-bottom: 2rem; }

.search-bar {
  float: right;
  margin-right: 2rem;
  margin-top: 1.5rem; }

.search-bar-hidden {
  display: none; }

.search-box {
  border-radius: 7px;
  box-shadow: -1px -2px lightgrey;
  height: 3rem;
  width: 18rem; }

.submitbutton {
  background-color: #DE2E48;
  border: none;
  border-radius: 7px;
  color: white;
  font-size: 1.3rem;
  font-family: Georgia;
  height: 3.2rem;
  text-shadow: 0px 1px 2px black;
  width: 9rem; }

.cma-banner {
  background-image: url(../imgs/cmabanner.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 7px;
  color: white;
  height: 20rem;
  /*margin-left: .3rem;*/
  text-align: center;
  width: 100%; }
  .cma-banner h2 {
    font-family: 'Open Sans-extra bold', sans-serif;
    font-size: 4rem;
    /*font-weight: bold;*/
    padding-top: 100px;
    text-shadow: 0px 2px 4px black; }
  .cma-banner h3 {
    font-family: 'Open Sans-extra bold', sans-serif;
    font-size: 1.3rem;
    text-shadow: 0 1px 2px black; }

.cma-banner-hidden {
  display: none; }

.firstlist {
  font-family: 'Open Sans-extra bold', sans-serif;
  font-size: 2rem;
  font-weight: bold;
  margin-left: 40px; }

.toplist li {
  font-size: 1.3rem;
  margin: 10px 5px;
  width: 95%; }
  .toplist li a {
    color: #DE2E48; }

.bigbox {
  background-color: #E8E8E9;
  border-radius: 7px;
  margin-bottom: 1.5rem;
  width: 100%; }
  .bigbox h4 {
    font-family: 'Open Sans-extra bold', sans-serif;
    margin-left: 2rem;
    padding-top: 1rem; }

.input-first-name, .input-last-name, .input-address, .input-username, .input-email, .input-confirm-email {
  border-radius: 7px;
  box-shadow: -1px -2px lightgrey;
  height: 50px;
  width: 400px; }

.secondform {
  float: left;
  width: 45%; }
  .secondform input {
    width: 100%; }

.firstform {
  float: left;
  margin-left: 3rem;
  margin-right: 1rem;
  width: 45%; }
  .firstform input {
    width: 100%; }

.submitreg {
  background-color: #DE2E48;
  border-radius: 7px;
  clear: both;
  color: white;
  float: right;
  font-family: 'Open Sans', sans-serif;
  font-size: 1rem;
  height: 2.5rem;
  margin-bottom: 1rem;
  margin-left: 75%;
  margin-top: 2rem;
  width: 15rem; }

.membership-level {
  clear: both; }

.membership {
  background-color: #C3C3C3;
  border-radius: 7px;
  height: 18rem;
  margin-left: .8rem;
  padding-top: 2rem;
  width: 98%; }

.individual {
  background-color: white;
  border-radius: 7px;
  display: inline-block;
  float: left;
  /*margin-left: 2rem;*/
  margin-left: 1.5rem;
  margin-right: 1rem;
  /*width: 28%;*/ }

.family, .patron {
  background-color: white;
  border-radius: 7px;
  display: inline-block;
  float: left;
  margin-right: 1rem;
  /*width: 28%;*/ }

.individual, .family, .patron {
  width: 30.5%;
  padding-right: .1rem; }

.individual h5, .family h5, .patron h5 {
  margin: 10px auto;
  text-align: center; }

.individual li, .family li {
  line-height: 1.5rem;
  margin: .7rem 0; }

.patron li {
  line-height: 1.5rem;
  margin: .7rem 0; }
.patron a {
  color: #DE2E48; }

/*.boxes{
	clear:both;
}
.boxes form{
	float:right;
}*/
.checkoptions {
  margin-bottom: 1rem; }

.mlevel, .addoptions {
  display: inline-block; }

.mlevel {
  padding-left: 70px; }

.addoptions {
  float: right;
  padding-right: 70px; }

.tickets, .members, .donations {
  display: inline-block;
  margin-left: 2rem;
  margin-right: 5rem;
  vertical-align: top; }

.tickets h2, .members h2, .donations h2 {
  font-family: 'Open Sans-extra bold', sans-serif;
  text-align: center; }

.tickets ul, .members ul, .donations ul {
  list-style-type: none; }

.tickets a, .members a, .donations a {
  color: #DE2E48; }

.tickets li, .members li, .donations li {
  line-height: 1.5rem; }

.bottomnav {
  margin: 0 auto;
  text-align: center;
  width: 75%; }
  .bottomnav a {
    color: #52D3FF;
    margin-right: 2rem;
    text-decoration: underline; }

footer {
  background-color: #242424;
  height: 300px;
  margin: 0 -1rem; }
  footer p {
    color: white;
    font-size: 1.2rem;
    line-height: 10px;
    text-align: center; }
  footer a {
    font-size: 1.2rem; }

.bottomp {
  margin-bottom: 75px;
  padding-top: 30px; }

hr {
  margin: 0 2rem; }

@media only screen and (min-width: 451px) and (max-width: 1024px) {
  .cmalogo {
    margin-left: 10%; }

  .cma-banner {
    display: none; }

  .cma-banner-hidden {
    display: inline-block;
    font-style: "Open Sans" , sans-serif;
    margin-left: 2rem; }

  .topnav {
    /*padding-bottom: 0;*/
    width: 100%; }
    .topnav a {
      align-content: center;
      display: block;
      width: 70%; }
    .topnav p {
      border-bottom: 1px solid #e8e8e9;
      display: block;
      padding-bottom: 1rem; }
    .topnav p:last-child {
      border-bottom: none;
      padding-bottom: 0; }

  .cma-banner-hidden h3 {
    color: grey; }

  .search-bar {
    display: none; }

  .search-bar-hidden {
    display: inline;
    margin-left: 2rem;
    margin-top: 1rem; }

  .search-box-hidden {
    border-radius: 7px;
    box-shadow: -1px -2px lightgrey;
    height: 2.5rem;
    margin-right: 2rem;
    width: 60%; }

  .submitbutton-hidden {
    background-color: #DE2E48;
    border: none;
    border-radius: 7px;
    color: white;
    font-size: .8rem;
    height: 2.5rem;
    width: 21%; }

  .tablet-search-bar {
    background-color: #E8E8E9;
    border-radius: 7px;
    height: 15rem;
    padding-top: 5rem;
    width: 100%; }
    .tablet-search-bar h1, .tablet-search-bar h5 {
      margin-left: 3rem; }

  .firstform, .secondform {
    margin-left: 3%;
    width: 43%; }

  .firstlist {
    font-size: 1.5rem; }

  .toplist li {
    font-size: 1rem; }

  .bigbox {
    width: 100%; }

  .membership {
    background-color: #E8E8E9;
    width: 95%; }

  .individual, .family, .patron {
    display: block;
    margin-bottom: 1rem;
    margin-left: 1rem;
    width: 95%; }

  .boxes {
    clear: both; }

  .mlevel, .addoptions {
    margin-left: 1rem;
    padding-left: .5rem;
    /*width: 10rem;*/ }

  .submitreg {
    margin-left: 40%;
    margin-top: 2rem; }

  hr {
    display: none; }

  .tickets, .members, .donations {
    width: 25%;
    margin-right: 1rem;
    display: inline-block; }

  .input-first-name, .input-last-name, .input-address, .input-username, .input-email, .input-confirm-email {
    /*margin-right: -3rem;*/
    width: 100%; }

  footer {
    padding-bottom: 5rem; }
    footer a {
      margin-left: 10rem; }

  .bottomnav {
    width: 100%; }

  .bottomnav a {
    align-content: center;
    display: block;
    width: 60%; } }
@media only screen and (min-width: 1px) and (max-width: 450px) {
  .cmalogo {
    margin-left: 1rem;
    width: 100%; }

  .topnav {
    width: 100%; }

  nav p {
    display: block;
    padding-right: 8rem;
    border-bottom: 1px solid #e8e8e9;
    border-width: 100%; }

  .search-bar, .cma-banner {
    display: none; }

  .tablet-search-bar {
    /*display:none;*/
    background-color: white;
    height: 20%;
    padding-top: 0; }

  .search-bar-hidden {
    /*display: none;*/ }

  .cell-search-bar {
    background-color: lightgrey;
    height: 10rem;
    width: 100%; }

  .search-box-hidden {
    margin-left: 1rem;
    margin-top: 1rem;
    width: 90%; }

  .submitbutton-hidden {
    width: 90%;
    margin-left: 1.2rem;
    margin-top: 1rem; }

  .cma-banner-hidden {
    display: inline-block;
    margin-left: 1rem; }
    .cma-banner-hidden h2 {
      font-size: 2rem;
      color: black; }
    .cma-banner-hidden h3 {
      font-size: .8rem;
      color: grey; }

  .firstlist {
    font-size: 1.5rem; }

  .toplist li {
    font-size: 1rem; }

  .bigbox {
    /*margin-left: 1rem;*/ }

  .input-first-name, .input-last-name, .input-address, .input-username, .input-email, .input-confirm-email {
    width: 40rem; }

  .firstform, .secondform {
    margin-left: 2rem;
    width: 80%; }

  .membership {
    background-color: #E8E8E9;
    width: 95%; }

  .individual, .family, .patron {
    margin-bottom: 1rem;
    margin-left: 1rem;
    width: 90%; }

  .addoptions {
    margin-left: 3.5rem; }

  .submitreg {
    /*margin-left: 1.3rem;*/
    margin-right: 1rem;
    width: 90%; }

  .donations {
    align-content: center; }

  .tickets, .members, .donations {
    display: block;
    width: 70%; }
    .tickets h2, .members h2, .donations h2 {
      margin-right: 10rem; }
    .tickets ul, .members ul, .donations ul {
      border: 1px solid grey;
      display: block;
      width: 100%; }
    .tickets li, .members li, .donations li {
      border-bottom: 1px solid grey;
      line-height: 2rem;
      margin-left: -2.5rem;
      padding-left: 2.5rem;
      padding-right: 3rem;
      text-align: center; }
    .tickets li:last-child, .members li:last-child, .donations li:last-child {
      border-bottom: none; }
    .tickets li a, .members li a, .donations li a {
      font-family: georgia;
      font-size: .9rem;
      text-decoration: none; }

  .boxes {
    width: 100%; }

  .mlevel, .addoptions {
    display: block;
    width: 75%; }

  .bottomnav {
    display: inline; }

  .bottomnav a {
    display: block;
    margin-left: 15%; } }

/*# sourceMappingURL=style.css.map */
